anyio==3.6.2
click==8.1.3
fastapi==0.94.1
future==0.18.3
h11==0.14.0
idna==3.4
ifaddr==0.2.0
pydantic==1.10.6
sniffio==1.3.0
starlette==0.26.1
typing_extensions==4.5.0
uvicorn==0.21.1
yeelight==0.7.10